<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>applyStatus</key>
	<dict>
		<key>006</key>
		<string>复审</string>
		<key>101</key>
		<string>复审拒绝</string>
		<key>200</key>
		<string>终审</string>
		<key>201</key>
		<string>终审拒绝</string>
		<key>300</key>
		<string>签约</string>
		<key>301</key>
		<string>签约拒绝</string>
		<key>302</key>
		<string>法务查看签约</string>
		<key>303</key>
		<string>签约中</string>
		<key>400</key>
		<string>已放款</string>
		<key>401</key>
		<string>发放申请</string>
		<key>402</key>
		<string>发放拒绝</string>
		<key>403</key>
		<string>发放确认</string>
		<key>500</key>
		<string>完成</string>
	</dict>
	<key>firstRelation</key>
	<dict>
		<key>01</key>
		<string>父母</string>
		<key>02</key>
		<string>子女</string>
		<key>03</key>
		<string>兄弟姐妹</string>
		<key>04</key>
		<string>亲属</string>
		<key>10</key>
		<string>配偶</string>
		<key>99</key>
		<string>其他</string>
	</dict>
	<key>relation</key>
	<dict>
		<key>01</key>
		<string>父母</string>
		<key>02</key>
		<string>子女</string>
		<key>03</key>
		<string>兄弟姐妹</string>
		<key>04</key>
		<string>亲属</string>
		<key>05</key>
		<string>同事</string>
		<key>06</key>
		<string>朋友</string>
		<key>10</key>
		<string>配偶</string>
		<key>99</key>
		<string>其他</string>
	</dict>
	<key>vtmProduct</key>
	<dict>
		<key>1001</key>
		<string>消费分期贷</string>
		<key>1002</key>
		<string>工薪贷</string>
		<key>1003</key>
		<string>精英贷</string>
		<key>1004</key>
		<string>业主贷</string>
		<key>1005</key>
		<string>汽车金融</string>
		<key>1006</key>
		<string>装修贷</string>
	</dict>
	<key>xyapplyPromno</key>
	<dict>
		<key>0101</key>
		<string>受薪客户专案</string>
		<key>0102</key>
		<string>个私业主贷</string>
		<key>0103</key>
		<string>房贷专案贷</string>
		<key>0104</key>
		<string>房产专案贷</string>
		<key>0105</key>
		<string>车贷专案贷</string>
		<key>0106</key>
		<string>车产专案贷</string>
		<key>0107</key>
		<string>行内房产抵押</string>
		<key>0108</key>
		<string>低风险客户专案</string>
		<key>0109</key>
		<string>消费贷(信用保证类)</string>
		<key>0115</key>
		<string>兴业房贷客户交叉营销专案</string>
		<key>0116</key>
		<string>兴业信用卡客户交叉营销专案</string>
		<key>0117</key>
		<string>上海抵押房产客户专案</string>
		<key>0118</key>
		<string>集团内金融资产客户交叉营销专案</string>
	</dict>
</dict>
</plist>
