<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>code</key>
		<string>0101</string>
		<key>describe</key>
		<string>等额本息，还款无忧</string>
		<key>enable</key>
		<true/>
		<key>icon</key>
		<string>icon_0101.png</string>
		<key>loanMoney</key>
		<string>最高2万</string>
		<key>name</key>
		<string>消费分期贷</string>
		<key>state</key>
		<true/>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>0102</string>
		<key>describe</key>
		<string>等个私业主专道</string>
		<key>enable</key>
		<true/>
		<key>icon</key>
		<string>icon_0102.png</string>
		<key>loanMoney</key>
		<string>最高2万</string>
		<key>name</key>
		<string>个私业主</string>
		<key>state</key>
		<false/>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>0103</string>
		<key>describe</key>
		<string>房贷，月供分期</string>
		<key>enable</key>
		<true/>
		<key>icon</key>
		<string>icon_0103.png</string>
		<key>loanMoney</key>
		<string>最高2万</string>
		<key>name</key>
		<string>房贷专案</string>
		<key>state</key>
		<true/>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>0104</string>
		<key>describe</key>
		<string>保障多多</string>
		<key>enable</key>
		<true/>
		<key>icon</key>
		<string>icon_0104.png</string>
		<key>loanMoney</key>
		<string>最高2万</string>
		<key>name</key>
		<string>房产贷专案</string>
		<key>state</key>
		<false/>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>0105</string>
		<key>describe</key>
		<string>等额本息，还款无忧</string>
		<key>enable</key>
		<true/>
		<key>icon</key>
		<string>icon_0106.png</string>
		<key>loanMoney</key>
		<string>最高2万</string>
		<key>name</key>
		<string>车贷专案</string>
		<key>state</key>
		<true/>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>0106</string>
		<key>describe</key>
		<string>车产保障，贷款无忧</string>
		<key>enable</key>
		<true/>
		<key>icon</key>
		<string>icon_0106.png</string>
		<key>loanMoney</key>
		<string>最高2万</string>
		<key>name</key>
		<string>车产专道</string>
		<key>state</key>
		<false/>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>0107</string>
		<key>describe</key>
		<string>行内房产抵押客户专道</string>
		<key>enable</key>
		<true/>
		<key>icon</key>
		<string>icon_0107.png</string>
		<key>loanMoney</key>
		<string>最高2万</string>
		<key>name</key>
		<string>行内房产抵押贷</string>
		<key>state</key>
		<false/>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>0108</string>
		<key>describe</key>
		<string>信用贷款</string>
		<key>enable</key>
		<true/>
		<key>icon</key>
		<string>icon_0108.png</string>
		<key>loanMoney</key>
		<string>最高2万</string>
		<key>name</key>
		<string>低风险客户专道</string>
		<key>state</key>
		<false/>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>0109</string>
		<key>describe</key>
		<string>消费贷（信用保证类）</string>
		<key>enable</key>
		<true/>
		<key>icon</key>
		<string>icon_0109.png</string>
		<key>loanMoney</key>
		<string>最高2万</string>
		<key>name</key>
		<string>消费贷</string>
		<key>state</key>
		<false/>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>0112</string>
		<key>describe</key>
		<string>商户业主申请专道</string>
		<key>enable</key>
		<false/>
		<key>icon</key>
		<string>icon_0109.png</string>
		<key>loanMoney</key>
		<string>最高2万</string>
		<key>name</key>
		<string>商户业主专案</string>
		<key>state</key>
		<true/>
		<key>url</key>
		<string></string>
	</dict>
	<dict>
		<key>code</key>
		<string>0123</string>
		<key>describe</key>
		<string>保单用户专道</string>
		<key>enable</key>
		<false/>
		<key>icon</key>
		<string>icon_0108.png</string>
		<key>loanMoney</key>
		<string>最高2万</string>
		<key>name</key>
		<string>保单贷客户</string>
		<key>state</key>
		<false/>
		<key>url</key>
		<string></string>
	</dict>
</array>
</plist>
